.page-button{
    background-color: #fc7300;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
}

.page-button:hover{
    background-color: white;
    color: #e43f5a;
}


.current-page{
    background-color: white;
    border: none;
    color: #e43f5a;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: default;
}

svg{
    color: red;
}