#query-result{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: .7rem 0;
    background-color: #d1dffa;
}

#query-result img{
    padding: .5rem;
}

#bike-info{
    padding: 1rem;
    max-width: 35rem; 
}